/* the dimensions will include any padding or border and the content 
of the element will be sized to fit  */
* {
  box-sizing: border-box;
}

/* remove margin */
body {
  margin: 0;
}

/* about me */

/* round the photo and adjust width, make three image shows average in a line of one section */
#my-photo {
  margin-bottom: 5px;
  width: 33%;
  border-radius: 50%;
  filter: brightness(110%);
}

#mycat-photo {
  margin-bottom: 5px;
  width: 33%;
  border-radius: 50%;
  filter: brightness(115%);
}

#food-photo {
  margin-bottom: 5px;
  width: 33%;
  border-radius: 50%;
  filter: brightness(102%);
}

/* add animation and hover effect in images */

.passion-img {
  transition: 0.3s;
}

.passion-img:hover {
  opacity: 0.7;
}

/* let image in a line and each image is 1/3 of the screen  */
.about-section {
  float: left;
  width: 33.333%;
}

.section-text-center {
  text-align: center;
}

/* photo gallery 1 */
/* style the text */
.header {
  text-align: center;
  padding: 50px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 8rem;
  font-family: "Montserrat";
  text-align: left;
}

p {
  font-size: 18px;
  margin-bottom: 2rem;
}

/* a responsive row of flex items that can wrap when the container becomes too small,
and is centered horizontally within its container.  */
.g2-row {
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that sits next to each other */
.g2-column {
  -ms-flex: 50%;
  /* IE 10 */
  flex: 50%;
  padding: 0 4px;
  text-align: center;
}

.g2-column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 16px 20px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;

}

/* button hover effect */
.btn:hover {
  background-color: #ddd;
}

/* highlight the button when it is active */
.btn.active {
  background-color: #666;
  color: white;
}