/* change the question heading and content font */
.mission-section {
    text-align: center;
}

.section-heading-h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-family: "Montserrat";
    text-align: center;
}

.section-heading-h3 {
    color: #6c757d;
    line-height: 1.75;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab";
    margin-bottom: 0;
}

.textheader-h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
}

.mission-p {
    font-size: 19px;
    font-weight: 200;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

/* change the cat image size */
#questioncat {
    width: 18%;
}

/* style the list */
.list-goal li {
    font-size: 18px;
    margin: 5px;
    margin-left: 3%;
    margin-bottom: 6px;
}

/* common cat health issues */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: beige;
    cursor: pointer;
    padding: 25px 55px 25px 25px;
    width: 85%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 43px;
    margin-top: 10px;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px 20px;
    width: 85%;
    background-color: antiquewhite;
    display: none;
    overflow: hidden;
    margin-left: 43px;

}

.panel p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* make the accordation and image half and half */
.cat-issues {
    float: left;
    width: 50%;
    margin-bottom: 40px;
}

.cat-image-issue {
    float: right;
    width: 50%;
}

.issue-image {
    width: 90%;
}

/* clear the footer float */
footer {
    clear: both;
}