/* site map */

.site {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.sitemap-section {
    float: left;
    width: 33.333%;
    margin-bottom: 300px;
}

/* let the sitemap in a line, site map list at the bottom and equal distributed in the container */
.section-heading-h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    font-family: "Montserrat";
    text-align: center;
}

.section-heading-h3 {
    color: #6c757d;
    line-height: 1.75;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab";
    margin-bottom: 2rem;
}

.sitemap-section h3 {
    margin: 6px;
    padding: 7px;
    font-size: 20px;
    margin-top: 2rem;
}

/* let h3 and list align */

.sitemap-section ul {
    padding: 5px;
    list-style: none;
    margin: 2px;
    margin-bottom: 1px;
}

.sitemap-section li {
    padding: 6px;
}

.sitemap-section a {
    text-decoration: none;
    color: #06c;
    font-size: 18px;
}

/* clear the footer float */
footer {
    clear: both;
}