body {
    margin: 0;
    background-color: antiquewhite;
}

/* remove border */

.source-section {
    margin-top: 6rem;
}

.source-header {
    font-size: 40px;
    margin-top: 1rem;
    text-align: center;
}

/* a table format with orange background color, positioned in the middle of screen and will highlight row when hover */

table {
    border: 2.5px solid rgb(221, 176, 121);
    width: 80%;
    border-collapse: collapse;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}

th {
    background-color: rgb(228, 179, 119);
    color: white;
    font-weight: bold;
}

th,
td {
    border: 1.5px solid white;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: yellow;
}

caption {
    font-style: italic;
    font-size: 18px;
    color: blue;
}

a {
    color: #06c;
}